WiFi_String_Data_NodeRED.txt
[{"id":"6092467e.28c788","type":"mqtt in","z":"2a5cd995.8e72a6","name":"SourceData","topic":"/test6","qos":"2","broker":"9d363649.1ba638","x":70,"y":20,"wires":[["42b95be1.c5c6a4","8e7a17f8.e7ce68","4c6f421f.e7f02c","af9a5e47.095b2"]]},{"id":"e1549c25.c515d","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum1","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff0000","#ff9797","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":20,"wires":[[],[]]},{"id":"8e7a17f8.e7ce68","type":"function","z":"2a5cd995.8e72a6","name":"Datum1","func":"\nmsg.payload=global.get(\"DataList[0]\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":20,"wires":[["e1549c25.c515d"]]},{"id":"9c367f53.40d88","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum2","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#000000","#c497ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":120,"wires":[[],[]]},{"id":"a9e98d1e.503f","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum3","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#23af35","#0000fb","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":220,"wires":[[],[]]},{"id":"42b95be1.c5c6a4","type":"function","z":"2a5cd995.8e72a6","name":"SplitData","func":"global.set(\"DataList\", msg.payload.split(\",\"));","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["8e7a17f8.e7ce68","4c6f421f.e7f02c","af9a5e47.095b2"]]},{"id":"4c6f421f.e7f02c","type":"function","z":"2a5cd995.8e72a6","name":"Datum2","func":"\nmsg.payload=global.get(\"DataList[1]\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["9c367f53.40d88"]]},{"id":"af9a5e47.095b2","type":"function","z":"2a5cd995.8e72a6","name":"Datum3","func":"\nmsg.payload=global.get(\"DataList[2]\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["a9e98d1e.503f"]]},{"id":"9d363649.1ba638","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1a4ad8a.d38d2","type":"ui_group","z":"","name":"StringSplit","tab":"dac73617.f12d78","disp":true,"width":"6","collapse":false},{"id":"dac73617.f12d78","type":"ui_tab","z":"","name":"E.M.F. Meter ","icon":"dashboard","order":2}]