WiFi_String_Data_NodeRED.txt
[{"id":"4650f55.4b26f0c","type":"mqtt in","z":"e76f2a18.812f88","name":"EMF_Data","topic":"/test6","qos":"2","broker":"d3e14309.76892","x":100,"y":80,"wires":[["b46552c8.0e856"]]},{"id":"b46552c8.0e856","type":"function","z":"e76f2a18.812f88","name":"SplitData","func":"//global.set(\"DataList\", msg.payload.split(\",\"));\n//msg.payload=global.get(\"Datalist\");\n\nmsg.payload=msg.payload.split(\",\");\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["9cbf0850.e911a8","a6f2d2fe.e5778","574768da.be1788"]]},{"id":"450b837e.d6058c","type":"ui_chart","z":"e76f2a18.812f88","name":"EMF vs Time","group":"4f01541e.e232cc","order":0,"width":"6","height":"6","label":"EMF vs Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-150","ymax":"150","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff0000","#ff9797","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":20,"wires":[[],[]]},{"id":"9cbf0850.e911a8","type":"function","z":"e76f2a18.812f88","name":"InstEMF","func":"\n//msg.payload=global.get(\"DataList[0]\");\nmsg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":20,"wires":[["450b837e.d6058c"]]},{"id":"a6f2d2fe.e5778","type":"function","z":"e76f2a18.812f88","name":"Min EMF","func":"\n//msg.payload=global.get(\"DataList[0]\");\nmsg.payload=msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["57f58f4d.28a5b"]]},{"id":"574768da.be1788","type":"function","z":"e76f2a18.812f88","name":"Max EMF","func":"\n//msg.payload=global.get(\"DataList[0]\");\nmsg.payload=msg.payload[2];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["342b4269.ff201e"]]},{"id":"57f58f4d.28a5b","type":"ui_gauge","z":"e76f2a18.812f88","name":"Min EMF","group":"9286af7c.000bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Min EMF","label":"units","format":"{{value}}","min":"-1023","max":"0","colors":["#0000b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":80,"wires":[]},{"id":"342b4269.ff201e","type":"ui_gauge","z":"e76f2a18.812f88","name":"Max EMF","group":"792dbebf.a25d","order":0,"width":0,"height":0,"gtype":"gage","title":"Max EMF","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":140,"wires":[]},{"id":"d3e14309.76892","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f01541e.e232cc","type":"ui_group","z":"","name":"InstEMF","tab":"f1f6391d.5530c8","disp":true,"width":"6","collapse":false},{"id":"9286af7c.000bc","type":"ui_group","z":"","name":"MinEMF","tab":"f1f6391d.5530c8","disp":true,"width":"6","collapse":false},{"id":"792dbebf.a25d","type":"ui_group","z":"","name":"MaxEMF","tab":"f1f6391d.5530c8","disp":true,"width":"6","collapse":false},{"id":"f1f6391d.5530c8","type":"ui_tab","z":"","name":"E.M.F. Meter ","icon":"dashboard","order":2}]