WiFi_String_Data_NodeRED.txt
[{"id":"8b5f79ce.14c028","type":"mqtt in","z":"2a5cd995.8e72a6","name":"TestGroup","topic":"/test6","qos":"2","broker":"9d363649.1ba638","x":80,"y":80,"wires":[["fdefd257.17f64","70383fae.69a0e","78ca8a3c.3d5374","99cd8212.f5664"]]},{"id":"fdefd257.17f64","type":"function","z":"2a5cd995.8e72a6","name":"Split1","func":"var split = ',';\nvar list=[];\nvar str=\"\";\nfor ( i=0;i<msg.payload.length;i++){\n    \n    if(msg.payload.charAt(i)!=split){\n        str+=msg.payload.charAt(i);\n        \n    }\n    else{\n        list.push(str);\n        str=\"\";\n    }\n}\nif(str.length>0)list.push(str)\nmsg.payload = list[0];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["b4cb3dd5.49db4"]]},{"id":"b4cb3dd5.49db4","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum1","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff0000","#ff9797","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":440,"y":140,"wires":[[],[]]},{"id":"70383fae.69a0e","type":"function","z":"2a5cd995.8e72a6","name":"Split2","func":"var split = ',';\nvar list=[];\nvar str=\"\";\nfor ( i=0;i<msg.payload.length;i++){\n    \n    if(msg.payload.charAt(i)!=split){\n        str+=msg.payload.charAt(i);\n        \n    }\n    else{\n        list.push(str);\n        str=\"\";\n    }\n}\nif(str.length>0)list.push(str)\nmsg.payload = list[1];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["a261519.91e73b"]]},{"id":"78ca8a3c.3d5374","type":"function","z":"2a5cd995.8e72a6","name":"Split3","func":"var split = ',';\nvar list=[];\nvar str=\"\";\nfor ( i=0;i<msg.payload.length;i++){\n    \n    if(msg.payload.charAt(i)!=split){\n        str+=msg.payload.charAt(i);\n        \n    }\n    else{\n        list.push(str);\n        str=\"\";\n    }\n}\nif(str.length>0)list.push(str)\nmsg.payload = list[2];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["9083cd5.d33203"]]},{"id":"a261519.91e73b","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum2","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#000000","#c497ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":440,"y":200,"wires":[[],[]]},{"id":"9083cd5.d33203","type":"ui_chart","z":"2a5cd995.8e72a6","name":"Datum3","group":"f1a4ad8a.d38d2","order":0,"width":0,"height":0,"label":"Datum3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-600","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#23af35","#0000fb","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":440,"y":240,"wires":[[],[]]},{"id":"99cd8212.f5664","type":"debug","z":"2a5cd995.8e72a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":80,"wires":[]},{"id":"9d363649.1ba638","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1a4ad8a.d38d2","type":"ui_group","z":"","name":"StringSplit","tab":"dac73617.f12d78","disp":true,"width":"6","collapse":false},{"id":"dac73617.f12d78","type":"ui_tab","z":"","name":"E.M.F. Meter ","icon":"dashboard","order":2}]